/* new styles */
html,
body {
    height: 100%;
    background: url(../img/bg.jpg);
    background-size: cover;
}
.ng-hide {
    display: none;
}
/* common */
.container {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
}
.material-icons {
    color: #444;
}
.float-right {
    float: right;
}
.text-right {
    text-align: right;
}
.label {
    padding: 1px 4px 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999999;
    text-align: center;
}
.inline-t {
    display: inline-table;
}
.label.label-success {
    background-color: #468847;
}
.label.label-error {
    background-color: #b94a48;
}
.label.label-warning {
    background-color: #f89406;
}
.label.label-info {
    background-color: #3a87ad;
}
.label.label-default {
    background-color: #777;
}
.label.label-tag {
    background-color: #999;
    margin-left: 3px;
    text-transform: none;
    font-size: 12px;
}
a.label-info {
    display: inline-table;
    text-decoration: none;
    text-transform: lowercase;
}
.remove-icon {
    position: absolute;
    left: 3px;
    top: 3px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    outline: none;
}
.remove-icon i {
    color: #999!important;
    font-size: 14px;
}
.relative {
    position: relative;
}
.pt0 {
    padding-top: 0px;
}
.pb10 {
    padding-bottom: 10px;
}
.mb0 {
    margin-bottom: 0;
}
.mt0 {
    margin-top: 0;
}
.mr5 {
    margin-right: 5px;
}
.mt5 {
    margin-top: 5px;
}
.mt35 {
    margin-top: 35px;
}
.source-errors {
  font-size: 12px;
  color: #dd2c00;
  margin-top: 10px; 
}

.dialog-image {
    max-width: 100%;
    margin: 0 auto 15px;
    max-height: 50px;
    max-height: 100px;
    display: block;
}
.search-icon {
    color:#666!important; 
    cursor: pointer;
}
.star-rating {
    width: 90px;
}
.star-rating .stars {
    background: url('../img/star-icon.png') repeat-x;
    max-width: 100%;
    height: 20px;
    margin-top: -4px;
}
.text-center {
    text-align: center;
}
.material-icons {
    color: #fff;
}
.pagination-block .mini-text {
    padding-top: 34px;
}
.pagination-block [type="submit"] {
    width: 0px;
    height: 0px;
    padding: 0;
    border: 0;
}
.pagination-block .page-input {
    width: 50px;
}
.dialog-content {
    width: 1000px; 
}
.manager-dialog-content {
    width: 450px;
}
@media (max-width: 650px){
    .dialog-content {
        width: 100%;
    }
}
@media (max-width: 450px){
    .manager-dialog-content {
        width: 100%;
    }
}