<html lang="en" >
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Angular Material style sheet -->
        <title>Angular App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body ng-app="BoscApp" layout="column">
        <section class="content" layout-fill layout="column" layout-align="space-between center">
            <div flex style="width: 100%; overflow-y:auto;">
                <div ng-controller="Main" class="container md-whiteframe-z5 ng-hide" layout="column" ng-show="!loading">
                    <div layout="row">
                        <md-input-container class="md-icon-float md-block mb0" flex="50">
                            <form ng-submit="searchS();">
                                <label>Search</label>
                                <input ng-model="search" type="text"/>
                            </form>
                        </md-input-container>
                        <md-icon aria-label="Search" flex="none" ng-click="searchS()"><i class="material-icons search-icon">search</i></md-icon>
                        <div flex></div>
                        <md-button ng-hide="!isManager" title="" ng-click="openDialog()" class="md-fab md-mini md-primary" aria-label="Add new source" flex="none">
                            <i class="material-icons">add</i>
                            <md-tooltip md-direction="top">Add new source</md-tooltip>
                        </md-button>
                    </div>
                    <div layout="column">
                        <md-card ng-repeat="s in items track by $index" ng-click="openDialog(s.process.id)" class="relative">
                            <md-card-header class="pb10">
                                <md-card-header-text flex>
                                    <md-icon aria-label="Search" ng-click="removeItem($event, s.process.id)" class="remove-icon" ng-if="isManager">
                                        <i class="material-icons">highlight_off</i>
                                        <md-tooltip md-direction="top">Remove item</md-tooltip>
                                    </md-icon>
                                    <span class="md-title">{{s.place.name}}</span>
                                    <span class="md-subhead">{{s.place.address.street + ', ' + s.place.address.city + ', ' + s.place.address.country}}</span>
                                    <div>
                                        <a ng-repeat="h in s.sources" class="label label-info mr5" ng-href="{{h.url}}" ng-click="stopPropagation($event)" target="_blank">{{getDomain(h.url)}}</a>
                                    </div>
                                </md-card-header-text>
                                <md-card-header-text flex="initial" class="text-right">
                                    <span class="label label-success">{{itemStates[s.process.state]}}</span>
                                    <div class="md-subhead float-right">{{getDate(s.process.added)}}</div>
                                </md-card-header-text>
                            </md-card-header>
                            <md-card-content class="pt0" layout="row">
                                <div class="star-rating" flex="initial">
                                    <div class="stars" ng-style="getRateWidth(s.review.rating)"></div>
                                    <md-tooltip md-direction="top">Rating {{s.review.rating}}</md-tooltip>
                                </div>
                                <div flex class="text-right" ng-if="s.review.tags">
                                    <span class="label label-tag" ng-repeat="t in s.review.tags">{{t}}</span>
                                </div>
                            </md-card-content>
                        </md-card>
                        <div ng-show="items.length === 0">
                            <h3 class="text-center">No items found</h3>
                        </div>
                        <pagination></pagination>
                    </div>
                </div>
            </div>
            <div ng-show="loading" class="loaing-cloak"></div>
        </section>
        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.5.8/angular-animate.min.js"></script>
        <script src="https://code.angularjs.org/1.5.8/angular-aria.min.js"></script>
        <!-- Angular Material Library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.0.9/angular-material.min.js"></script>
        <!-- Your application bootstrap  -->
        <script src="/js/script.min.js"></script>
    </body>
</html>