<md-dialog aria-label="Create new item">
    <form ng-submit="saveSource()" name="form">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Edit source</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeDialog()">
                    <md-icon class="material-icons">highlight_off</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div class="dialog-content">
                    <img ng-src="{{item.place.cover_picture}}" class="dialog-image" />
                    <h3 class="mb0 text-center">{{item.place.name}}</h3>
                    <h4 class="mt5 text-center">{{item.place.address.street + ', ' + item.place.address.city + ', ' + item.place.address.country}}</h4>
                    <div layout-gt-xs="row" layout-xs="column">
                        <div flex-gt-xs="50" flex-xs="none">
                            <md-tabs md-dynamic-height md-border-bottom>
                                <md-tab ng-repeat="s in item.sources" label="{{getDomain(s.url)}}">
                                    <h4 class="mb0">Rating</h4>
                                    <md-slider flex md-discrete ng-model="s.rating" step="0.1" min="1" max="5" aria-label="rating"></md-slider>
                                    <md-chips ng-model="s.tags" readonly="false" md-removable="true"
                                        md-enable-chip-edit="true" 
                                        placeholder="Enter a tag" 
                                        secondary-placeholder="+Tag"></md-chips>
                                    <md-input-container class="md-block mb0 mt35">
                                        <label>Description</label>
                                        <textarea ng-model="s.description" rows="10" md-select-on-focus></textarea>
                                    </md-input-container>
                                </md-tab>
                            </md-tabs>
                        </div>
                        <div flex="5"></div>
                        <div flex-gt-xs="45" flex-xs="none">
                            <md-input-container class="md-block">
                                <label>Review</label>
                                <textarea ng-model="item.review.description" rows="10" md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                    </div>
                </div>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="closeDialog()">Close</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
